
<h2 class="titleProject"> Contacto </h2>   
<br>
<div >
<code>
<ul class="socialContact">
	
	<li class="">E-mail: matiasyerga@gmail.com </li>
	<li class="">Whatsapp: +542613642184  </li>
	<li class="">City: Mendoza, Argentina </li>
	<li class=""><br>
                  
                  <a href="https://www.linkedin.com/in/matias-julian-perez-yerga-1b4532183/" target_="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051333.png" class="social1c"></a>

              
                  <a href="https://github.com/MatiasPerezYerga"><img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641503448/github_z8jwbp.png" class="social2c"></a><br>
              	</li>
</ul>
  
</code>   
                 
              
              </div>

