<div id="title" class="title">
<div>
	<img src='https://i.imgur.com/Xehxx3I.jpg' class="perfil" title="Hello World!"/></div>
	<h4 class="intro">{{intro}}</h4>
	<h1 class="name">{{title}}</h1>

<br>
		<!--<a target="_blank" href="" class="btn btn-download">Go to Home!</a>-->
              <div class="social">

                  <br>
                  <a href="https://www.linkedin.com/in/matias-julian-perez-yerga-1b4532183/" target_="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1051/1051333.png" class="social1"></a>

              
                  <a href="https://github.com/MatiasPerezYerga"><img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641503448/github_z8jwbp.png" class="social2"></a><a href="https://drive.google.com/file/d/1huOOxnkiAyHUgi3QdkrwcI_ipRljQOr2/view?usp=sharing">
                    <button class="btn btn-secondary cv" >English CV </button></a><br>
              </div>
              
              <div class="midiv2"><h2 >{{subtitle}}</h2> </div>

</div>
