/**/


/*IMPORTAMOS FUENTES PERSONALIZADAS*/
/*Con font-face asignamos el nombre del stylo y con el src la ruta del archivo*/

@font-face{
	font-family: "Rockstar-ExtraBold";
	src:  url("fonts/Rockstar-ExtraBold.otf");
}


@font-face{
	font-family: "Poppins";
	src:  url("fonts/Poppins.ttf");
}

@font-face{
	font-family: "TheHound";
	src:  url("fonts/TheHound.ttf");
}
/*
@font-face{
	font-family: "WhiteDream";
	src:  url("fonts/WhiteDream.otf");
}
*/

@font-face{
	font-family: "Among";
	src:  url("fonts/aAmongYou.otf");
}
/*
@font-face{
	font-family: "Angota";
	src:  url("fonts/aAnggota.otf");
}
*/
@font-face{
	font-family: "AreaKilometer50";
	src:  url("fonts/aAreaKilometer50.otf");
}

@font-face{
	font-family: "Atomic";
	src:  url("fonts/aAtomicMd.otf");
}

@font-face{
font-family: "Autobus";
src:  url("fonts/aAutobusOmnibus.otf") ;
}


@font-face{
font-family: "Tesla";
src:  url("fonts/TESLA.ttf") ;
}


/*ESTILOS GENERALES*/


*{
	margin: 5px;
	padding: 5px;
}

code{
	color:  white!important;
}

/*Luego en el body llamamos  al stylo por su nombre*/
body{
	/*font-family: Poppins;*/
	color:  white;
	font-size: 20px;
	
	
	background-image:  url("../img/compute2.png") ;
	background-image: ;
    
    
   	background-size: 100%;
	background-attachment: fixed;



	text-align: left;
	
}
/*En los estilos generales creamos una clase para limpiar los float entre los distintos elementos*/
.clearfix{
	float: none;
	clear: both;
}


/*BARRA DE NAVEGACION: CABECERA*/

header{

	   display: block;
		width:  100%;
		height: 200px;
		margin-top: -70px;
		border-radius: 0px;
		margin-left: -15px;
	
		/*background: rgba(0, 0, 0,1);*/
		text-align: center;
		padding-top: 0px;
		position:   fixed;
		text-transform: uppercase;
		border-radius: ;
		align-content: center;
		/*background-image:  url("img/gif26.gif");*/
		
		background-color: black;
		
	z-index: 50px;
;
		


}

header ul{
	
	width: 100%;
	margin-top:  0px ;
}

header ul li{
	border-radius: 25px;
	float:  center;
	display: inline-block;
	margin-top:px;
	text-align: center;
	line-height: 90px;
	color:  white;
	font-family: "Rockstar-ExtraBold"
}


/*ESTILOS PARA LOS LENGAJES EN ABOUTME*/


img.softAndLangs{

width:  80%;
}


.sList{
	margin-top: -10%;
}

 .sL{
	display: inline-block;
	width: 15%;
	list-style:none;
	text-align: center;
	vertical-align: top


}

.sL:hover {
transform:  scale(1.4,1.4);
	
transition:all .5s ease-in-out;
}


.softLangs{
list-style:none ; /*para que no muestre los puntitos de la lista*/
display: inline-block;/**/
text-align: center;
}


.softLangs:hover {
transform:  scale(1.1,1.1);
	
transition:all .5s ease-in-out;
}

.desc{
	margin-top: -20%;
color: white;
text-align: center;
}

/*ESTILOS PARA LOS ENLACES DEL HEATER*/
header a{
border-radius: 50px;
display: inline-block;
padding-right: 10px;
padding-left: 10px;
height: inherit;
text-decoration: none;
color:white;
transition:  all 300ms;

}


header a:hover,
.actived{
	background:  rgba(225,225,225,0.1);

transition:all .5s ease-in-out;
	
transition:all .5s ease-in-out;
}


h3.titleAbout{font-family: "AreaKilometer50";
text-align: left;
color:  white;
font-size: 35px;

}

.highlights{
color: forestgreen;

}

article ul{
	padding-left: 40px;
}

article h4{font-family: "AreaKilometer50";
text-align: left;
color:  green;
font-size: 25px;

}

.table{
	float: left;
}

footer{
	text-align: left;
	color:  white;
}


/*ESTILOS PARA EL LOGO*/

header  .logo a:hover{
	background: transparent;
	color: indianred;
	transform:  scale(1.5,1.5);

transition:all .5s ease-in-out;
}

.logo{

	font-family: "TheHound";
	font-size: 40px;
}

#logo {

	transition:  color 500ms, transform 500ms;
}

/*CONTENEDOR PRINCIPAL la caja principal*/
#content{
width:  80%;
min-height: 400px;
height: auto;

margin: 0px auto;
/*box-shadow: 0px 0px 60px rgba(255,255,255,0.15) ;*/
border-left: 2px solid #b7b7b7;
border-right: 2px solid #b7b7b7;
border-top: 2px solid #b7b7b7;
border-bottom: 2px solid #b7b7b7;
background:  rgba(0,0,0,0.90);
margin-top: 70px;
padding-top: 90px;



}


/*Pie de página*/

footer{
width: 80%;
margin:  15px auto;
padding-top: 0 px;
color: whitesmoke;

font-family: "Rockstar-ExtraBold";
}


/*ABOUT ME*/
#title{
width:100%;
margin-bottom: ;
text-align: left;
margin-bottom: 100px;
padding-top: 20px;
display: inline;

}

.lienzo{
text-align: left;


}
.intro  {
	margin-left: 350px ;
	display: left;
		
}

.name{
margin-left: 350px ;
text-align: left;
display: left;
}

.perfil{

border-radius: 200px;
width: 10%;
margin-top: 5%;
margin-left: 10%;
box-shadow: 0px 0px 40px black ;
animation-timing-function: ease-in-out;
filter: grayscale(100%);
display: left;
margin-left: 150px;
float: left;
}



.perfil:hover{

transform:  scale(2.0,2.0);
border-radius: 15px;
cursor: wait;
box-shadow: 0px 0px 40px white ;	
transition:all 1s ease-in-out;

filter: grayscale(0%);
}

.intro{

	font-family: "Poppins";
	text-align: left;
	color: white;
}








.midiv2 {
margin-left: 10%;
margin-top: 3%;

}



/*------------------------------------*/
div.social{
	margin-left: 35%;

}




 img.social1 {
	width: 5%;
		display: left;
		display: inline-block;
		margin-left:20% ;
background-color: white;
		filter: grayscale(100%);
		border-radius: 20px;
}

img.social1:hover{
filter: grayscale(0%);
	transition:all 1s ease-in-out;
	transform: rotate(360deg);

}


img.social2 {
	width: 5%;
		display: left;
		display: inline-block;
		filter: grayscale(100%);
		background-color: white;
border-radius: 20px;

}

img.social2:hover{
filter: grayscale(0%);
	transition:all 1s ease-in-out;
	transform: rotate(-360deg);

}
/*------------------------------------*/

.socialContact{

list-style: none;
margin-left: 29%;
}


img.social1c {
	width: 5%;
		display: left;
		display: inline-block;
		margin-top:-2% ;
		margin-left: 10%;
background-color: white;
		filter: grayscale(100%);
		border-radius: 20px;
}

img.social1c:hover{
filter: grayscale(0%);
	transition:all 1s ease-in-out;
	transform: rotate(360deg);

}


img.social2c {
	width: 5%;
	margin-top:-2% ;
		display: left;
		display: inline-block;
		filter: grayscale(100%);
		background-color: white;
border-radius: 20px;

}

img.social2c:hover{
filter: grayscale(0%);
	transition:all 1s ease-in-out;
	transform: rotate(-360deg);

}
/*------------------------------------*/
button.cv{
margin-top: -6%;
margin-left:0% ;

}





#hover-content {
  display:none;
   
}

             

#hover-content {
    display:none;
    margin-top:0px;
float: center;

}

#parent:hover #hover-content {
    display:block;
    
cursor: wait;
	

float: center;

}













/* fotito de proyect*/

 img {
	width: 80%;
	
}
/*
div #hover-content{
	
margin-top:-200px;
float: center;
}
*/	

div #hover-content:hover{

transform:  scale(1.50,1.50);
cursor: wait;
	
transition:all .7s ease-in-out;
float: center;


filter: grayscale(0%);
}




#title h1{

font-family:"Rockstar-ExtraBold";
font-size: 60px;
border-bottom:  1 px solid #ccc;
padding-bottom: 0 px;
color:  white;


}

#title h2{

font-family:"Among";
font-size: 60px;
padding-top:  5px;
padding-bottom: 5 px;
color: indianred;

}

code{color: white}

article.about{
width: 100;
margin: 0px auto;
margin-bottom:20px ;
font-size: 23px;
background-color: rgba(0,0,0,0.5);
margin-top: -10%;

padding-left: 30px;
text-align: left;
color:  white;
}

.title{
	margin-bottom: 20px;
	
}
article h2{
	color:  rgba(0,0,0,0.9);
	border-radius: 20px;
}

.about p{

padding-top: 50px;
padding-bottom:30px;
}

/*ESTILOS PARA EL COMPONENTE CREAR PROYECTO*/
/*SECCION DE FORMULARIO*/

.container h1, h3,h4  {

	font-size: 30px;
	
}



.container h2{
	margin-top: -50px;
border-bottom:  1px solid #ccc;
padding-bottom: px;
padding-bottom: 10px;
margin-left: 0%;
font-family: "Rockstar-ExtraBold";


}

.container .fotito{
/*box-shadow: 20px 20px 20px rgba(255,255,255,0.2);*/


}


 a{
	text-decoration: none;
}
.container .image img {
	width:  60%;
	
	margin-left: 20%;
	


}



 .container .image img:hover {
	transform:  scale(1.50,1.50);
	cursor: wait;

transition:all .8s ease-in-out;
	
}



.data{
float: center;
width: 100%;
padding-left: 0%;
text-align: center;
}

form{
width: 100%;
text-align: left;
margin-left: 25%;

}

form label {

display: block;
width: 100%;
margin-top: 10px;
font-size: 20px;
color:  white;
margin-left: 0%;

}


form textarea{
	width:  50%;
	
	padding-bottom: 25px;
margin-bottom: 26px;
	}

form input{
	width: 50%;
	padding-bottom: 10px;


}

form button,
form input[type="submit"],
.button-edit,
.button-delete{
display: block;
font-family: "Autobus";
font-size: 22px;
padding: 5px;
margin-top: 15px;
color: black;
background-color: white;
border-radius: 20px;
margin-left: 0%;
cursor:  pointer;

}


.subirImg{

color: white;

}


.button-edit,
.button-delete{
	width: 50%;
	margin-left: 25%;
	text-decoration: none;
}


form button:hover,
form input[type="submit"]:hover{
background: rgba(255,255,255,0.8);
transform:  scale(0.97,0.97);

 }

 /*validacion del formulario en crear-proyecto*/
 /**/

 form input[disabled]{
opacity: 50%;
cursor: no-drop;

 }
 
 .form_error{
 	
 	padding:  5px;
 	background:  red;
 	color:  white;
 	font-family:Atomic ;
 	font-size: 15px;
 	font-style: italic	;
 

 }

 .form_errorDescription{
text-align: left;
margin-left: -51%;
font-size: 15px;
margin-top: 200px;
background:  red;
 	color:  white;
 	font-family:Atomic ;
 }


.message {
width: 50%;
padding:  5px;
margin-top: 20px;
border:  1px solid #eee;
margin-left: 25%;


}
.succes{
	background:green;
	color: white;
	
}
.succes a {

	color: white;
}

.failed{
	background:indianred;
	color: white;
}

/*PAGINA DE PROYECTOS*/
h2.titleProject{
color: white;
font-family: "Rockstar-ExtraBold";
border-bottom: 1px solid;
}

.loading {
width: 30%;
margin-left: 35%;

}


.project{/**/
list-style:none ; /*para que no muestre los puntitos de la lista*/
display: inline-block;/**/
width:  20%;
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
text-align: center;


}




	



.project p{ 
text-decoration: none;

 }





.container p {
	color:  white;
}

.project img{
	width:  100%;
	height: 150px;
	overflow: hidden;
	
}

.project:hover{

transform:  scale(1.1,1.1);
	
transition:all .5s ease-in-out;
 }





.confirm{
display: block;
font-weight: bold;
margin-top: 20 px ;
}

/*/DETALLE*/


.container .foton{

transform:  scale(1.3,1.3);
	width:30%;
transition:all .5s ease-in-out;


}


/***************/
/* RESPONSIVE  */
/***************/
/*------max 400px------*/
@media (max-width:400px) {
 body{ background-size: 100%;}
   
header {
	width: 103%;
 height: 110px;
	z-index: 50px;
}	

.btn {
	font-size: 12px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:-5%;
	margin-bottom: -10%;
	margin-left: -9%;
}

.intro{

font-size: 20px;
text-align: left;
margin-top: 50%;
margin-left: 5% }

#title h1{

font-size: 30px;
margin-left: 5%;
margin-top: 0%;

}

.logo{
	display: none;
}

.perfil:hover{

transform:  scale(1.5,1.5);

}

#content{

	margin-top: -10%;
height: 580px auto;
width: 95%;

}

.perfil{
width: 40%;
margin-left: 30%;
margin-top: -10%;
}

img.social1{

width: 25%;
margin-top: -35px;
margin-left: -17%;

}

img.social2{

width: 25%;
margin-top: -35px;

}

.cv{
display: none;
}



.midiv2{

}

#title h2{
font-size: 30px;
text-align: center;
margin-top: 0%;
}

.pie{
	font-size: 13px;
}

/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -20%;
}

h2.titleProject{
	font-size: 
	20px;
	margin-top: -10%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: -10%;
}

.listasAbout{
	margin-left: -0%;
}
.langs{
margin-left: -5%;
}

.loading {
width: 100%;
margin-left: 0%;

}

.project{
	display: block;
width: 90%;
margin-left: -0%;
font-size: 20px;
}

.socialContact{
	margin-left: -0%;
}

img.social1c{
width: 20%;
margin-left: 20%;
margin-top: 10%;

}

img.social2c{
width: 20%;
margin-top: 10%;

}

.sL{
width: 45%;
margin-top: -0%;
}

body{
	font-size: 15px;
}
.sList{

margin-top: -30%;

}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}


}

/*------768------------*/

@media (width:768px)   {
body{ background-size: 100%;}
   
header {
	width: 100%;
 height: 200px;
	z-index: 50px;
}	

.btn {
	font-size: 20px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:-10%;
	margin-bottom: -10%;
	margin-left: 0%;
}


.logo{
	display: ;
}


.perfil:hover{

transform:  scale(1.5,1.5);

}

#content{

	margin-top: -10%;
height: 580px auto;
width: 95%;

}

.perfil{
width: 20%;
margin-left: 38%;
margin-top: 15%;
}

img.social1{

width: 15%;
margin-top: -10%;
margin-left: -1%;

}

img.social2{

width: 15%;
margin-top: -10%;


}

.cv{
display: none;
}


.intro{
	margin-top: 50%;
	margin-left:  10%;
font-size: 40px;
}

.name{

margin-left: 10%;
font-size: 30px;
}

#title h1{
	font-size:  60px;
}

#title h2{
font-size: 60px;
text-align: center;
margin-top: -3%;
margin-left: -10%;
}

.pie{
	font-size: 13px;
}

/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -20%;
}

h2.titleProject{
	font-size: 20px;
	margin-top: -10%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: -10%;
}

.listasAbout{
	margin-left: -5%;
}
.langs{
margin-left: -5%;
}

.loading {
width: 100%;
margin-left: 0%;

}

.project{
	display: block;
width: 90%;
margin-left: -0%;
}

.socialContact{
	margin-left: -10%;
}

img.social1c{
width: 20%;
margin-left: 20%;

}

img.social2c{
width: 20%;

}
}



@media (min-width:320px) and (max-width:399px) {
  
header  ul{

		width: 107%!important;
 		height: 110px;
 			z-index: 50px;
}

}


/*----------MIN 400 px a 740 px--------*/

@media (min-width:400px) and (max-width:740px) {
 body{ background-size: 100% ;

font-size: 15px;
 }
   
header {

		width: 103%;
 		height: 110px;
 			z-index: 50px;
}	

.btn {
	font-size: 12px;
}

button.cv{
margin-top: 5%;
margin-left:0% ;

}

header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:-5%;
	margin-bottom: -10%;
	margin-left: -7%;
}


.logo{
	display: none;
}

.perfil:hover{

transform:  scale(1.5,1.5);

}

#content{

	margin-top: -10%;
height: 580px auto;
width: 95%;

}

.perfil{
width: 40%;
margin-left: 30%;
margin-top: -10%;
}

img.social1{

width: 25%;
margin-top: -20%;
margin-left: -13%;

}

img.social2{

width: 25%;
margin-top: -20%;

}

.cv{
display: none;
}


.intro{
	margin-top: 50%;
	margin-left:  10%;
}

.name{

margin-left: 10%;
font-size: 30px;
}

#title h1{
	font-size:  30px;
}

#title h2{
font-size: 30px;
text-align: center;
margin-top: -3%;

}

.pie{
	font-size: 13px;
}

/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -20%;
}

h2.titleProject{
	font-size: 20px;
	margin-top: -10%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: 0%;
}


.listasAbout{
	margin-left: -5%;
}


.langs{
margin-left: -5%;
}

.project{
	display: block;
width: 90%;
margin-left: -0%;
}


.loading{
width: 90%;
margin-left: 10%;


}	

.socialContact{
	margin-left: -0%;
}

img.social1c{
width: 17%;
margin-left: 20%;
margin-top: 10%;

}

img.social2c{
width: 17%;
margin-top: 10%;

}

.sL{
width: 40%;
margin-top: 0%;

}

.sList{

margin-top: -0%;

}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}

}


/*-------TABLET - IPAD PORTRAIT-----------*/

@media (min-width: 740px) and (max-width:1000px)   {

body{ background-size: 100%;
font-size: 20px;
 }
   
header {
	width: 100%;
	height: 170px;
 	z-index: 50px;
}	

.btn {
	font-size: 20px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:0%;
	margin-bottom: -10%;
	margin-left: 0%;
}

.logo{
	display: ;
}

.perfil:hover{

transform:  scale(1.5,1.5);

}

#content{

	margin-top: -10%;
height: 580px auto;
width: 95%;

}

.perfil{
width: 25%;
margin-left: 36%;
margin-top: 13%;
}


.cv{
display: none;
}


.intro{
	margin-top: 50%;
	margin-left:  10%;
}

.name{

margin-left: 10%;
font-size: 30px;
}

#title h1{
	font-size:  60px;
}

#title h2{
font-size: 55px;
text-align: center;
margin-top: -3%;

}

.pie{
	font-size: 13px;
}

/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -20%;
}

h2.titleProject{
	font-size: 20px;
	margin-top: -10%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: 0%;
}

.listasAbout{
	margin-left: 2%;
}
.langs{
margin-left: -5%;
}

.loading {
width: 50%;
margin-left: 25%;

}

.project{
	display: inline-block;
width: 45%;
margin-left: -0%;
}

.socialContact{
	margin-left: 25%;
}

img.social1c{
width: 13%;
margin-left: 12%;
margin-top: 10%;

}

img.social2c{
width: 13%;
margin-top: 10%;

}


.sL{
width: 15%;
margin-top: -5%;
font-size: 12px;
}

.sList{

margin-top: -5%;

}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}




}


/*----  Min 1024px  Max 1279px ------*/
@media (min-width:1024px) and (max-width: 1279px)  {
 
body{ background-size: 100%;
font-size: 20px;
 }
   
header {
	width: 100%;
 	height: 200px;
 		z-index: 50px;

}	


.btn {
	font-size: 20px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:-2%;
	margin-bottom: -10%;
	margin-left: 0%;
}

.logo{
	display: ;
}

.perfil{
width: 15%;
margin-left: 15%;
margin-top: 0%;
}

.perfil:hover{
	transform: scale(1.5,1.5);
}
img.social1{

width: 10%;
margin-top: -9%;
margin-left: 13%;

}

img.social2{

width: 10%;
margin-top: -9%;

}

.cv{
display: none;
}


.intro{
	margin-top: 0%;
	margin-left:  40%;
	font-size: 25px;
}

.name{

margin-left: -;
font-size: 55px;
}

#title h1{
	font-size:  30px;
	margin-left: 40%;
}

#title h2{
font-size: 40px;
text-align: center;
margin-top: -0%;

}

.pie{
	font-size: 13px;
}


/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -10%;
margin-bottom: 0%;
}

h2.titleProject{
	font-size: titleProjectAbout20px;
	margin-top: -10%;
}

h3.titleAboutFirst{
	font-size: 20px;
	margin-top: -10%;
	margin-bottom: 20%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: 0%;
}

.listasAbout{
	margin-left: 2%;
}
.langs{
margin-left: -5%;
}

.loading {
width: 50%;
margin-left: 25%;
}

.project{
	display: inline-block;
width: 20%;
margin-left: 2%;
font-size: 16px;
}
div table h4 b{
	font-size: 18px;
}

.socialContact{
	margin-left: 29%;
}

img.social1c{
width: 13%;
margin-left: 12%;
margin-top: 10%;

}

img.social2c{
width: 13%;
margin-top: 10%;

}


.sL{
width: 15%;
margin-top: -5%;
margin-left: 0%;
}

.sList{

margin-top: -5%;

}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}




}

/*---- LANSCAPE 736 px ------*/
@media (max-width:736px) and (orientation:landscape) {
 body{ background-size: 100%;}
 header {
	width: 100%;
 height: 125px;
 	z-index: 50px;

}	

.btn {
	font-size: 12px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:-3%;
	margin-bottom: -10%;
	margin-left: 0%;
}


.logo{
	display: ;
}

.perfil:hover{

transform:  scale(1.5,1.5);

}

#content{

	margin-top: 0%;
min-height: 300px;
width: 85%;

}

.perfil{
width: 15%;
margin-left: 15%;
margin-top: -10%;
}

img.social1{

width: 10%;
margin-top: -19%;
margin-left: 13%;

}

img.social2{

width: 10%;
margin-top: -19%;

}

.cv{
display: none;
}


.intro{
	margin-top: -10%;
	margin-left:  40%;
	font-size: 25px;
}

.name{

margin-left: -;
font-size: 55px;
}

#title h1{
	font-size:  30px;
	margin-left: 40%;
}

#title h2{
font-size: 25px;
text-align: center;
margin-top: -7%;

}

.pie{
	font-size: 13px;
}

/* ABOUT ME*/

article.about {
font-size: 15px;
margin-top: -20%;
}

h2.titleProject{
	font-size: 20px;
	margin-top: -10%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: 0%;
}

.listasAbout{
	margin-left: -0%;
}
.langs{
margin-left: -5%;
}

.project{
	display: inline-block;
width: 45%;
margin-left: 0%;
font-size: 20px;
}



.loading{

width: 60%;
margin-left: 20%;
}

.socialContact{
	margin-left: 30%;
}

img.social1c{
width: 13%;
margin-left: 5%;

}

img.social2c{
width: 13%;

}

.sL{
width: 28%;
margin-top: 0%;
font-size: 12px;
}

.sList{

margin-top: -15%;

}

.github{
	display: none;
}


form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}

body{
	font-size: 15px;
}





}

/*--------------------------*/
/*-- RANGO 1280px a 1919px--*/
/*--------------------------*/
@media (min-width:1280px) and (max-width:1919px)  {
 
body{ background-size: 100%;
font-size: 20px;
 }
   
header {
	
	width: 100%;
 	height: 175px;
	margin-top: -5%;
	z-index: 50px;
}	

.btn {
	font-size: 18px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top:0%;
	margin-bottom: -10%;
	margin-left: 0%;
}

.logo{
	display: ;
}

.perfil{
width: 10%;
margin-left: 23%;
margin-top: 3%;
}

.perfil:hover{
	transform: scale(1.2,1.2);
}
img.social1{

width: 7%;
margin-top: -9%;
margin-left: 13%;

}

img.social2{

width: 7%;
margin-top: -9%;

}

.cv{
display: none;
}


.intro{
	margin-top: 0%;
	margin-left:  40%;
	font-size: 25px;
}

.name{

margin-left: -;
font-size: 55px;
}

#content {
	margin-top:-2%
}

#title h1{
	font-size:  30px;
	margin-left: 40%;
}

#title h2{
font-size: 45px;
text-align: center;
margin-left: -5%;

}

.pie{
	font-size: 13px;
}


/* ABOUT ME*/

article.about {
font-size: 20px;
margin-top: -10%;
margin-bottom: 0%;
}

h2.titleProject{
	font-size: titleProjectAbout20px;
	margin-top: -10%;
}

h3.titleAboutFirst{
	font-size: 20px;
	margin-top: -10%;
	margin-bottom: 20%;
}

h3.titleAbout{
font-size: 20px;
	margin-top: 0%;
}

.listasAbout{
	margin-left: 2%;
}
.langs{
margin-left: -5%;
}

.loading {
width: 40%;
margin-left: 30%;

}

.project{
	display: inline-block;
width: 23%;
margin-left: -0%;
}

.socialContact{
	margin-left: 37%;
}

img.social1c{
width: 10%;
margin-left: 7%;
margin-top: 10%;

}

img.social2c{
width: 10%;
margin-top: 10%;

}

img.softAndLangs{

/*width: 10%;*/

}

.sL{
width: 11%;
margin-top: -2%;
margin-left: 5%;
font-size: 15px;
}

.sList{

margin-top: -5%;

}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}




}


/*--------------------------*/
/*-- RANGO min 1920px --*/
/*--------------------------*/
@media (min-width:1920px)   {
 
body{ background-size: 100%;
font-size: 20px;

 }

 .cv{

 margin-top: 0%!important;	

 }
 

 .titleProject{
 	font-size: 40px!important;

 }
   
header {
	width: 100%;
 height: 175px;
	z-index: 50px;
	margin-top: -2%;
}	

.btn {
	font-size: 15px;
}


header ul li{
	display: inline-block;
	display: left;
	text-align: left;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
}

.logo{
	display: ;
}

.perfil{
width: 9%;
margin-left: 25%;
margin-top: 0%;
}

.perfil:hover{
	transform: scale(1.3,1.3);
}
img.social1{

width: 4%;
margin-top: -0%;
margin-left: 13%;

}

img.social2{

width: 4%;
margin-top: 0%;

}

.cv{
display: ;
}


.intro{
	margin-top: 0%;
	margin-left:  40%;
	font-size: 45px;
}



#title h1{
	font-size:  60px;
	margin-left: 40%;
}

#title h2{
font-size: 60px;
text-align: center;
margin-left: -7%;

}

.pie{
	font-size: 20px;
}


/* ABOUT ME*/

article.about {
font-size: 20px;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
}

article p{
	margin-left: 3%;
	margin-right: 3%;
}

h2.titleProject{
	font-size: 20px;
	margin-top: -0%;
}

.Addon1{

	
	margin-left: -5%;
}

h3.titleAbout{
font-size: 20px;
	margin-top:0%;
	margin-left: 3%;
}

.listasAbout{
	margin-left: 3%;

}
.langs{
margin-left: 5%;
}

.project{
	display: inline-block;
width: 23%;
margin-left: -0%;
}

.socialContact{
	margin-left: 37%;
}

img.social1c{
width: 5%;
margin-left: 10%;
margin-top: 0%;

}

img.social2c{
width: 5%;
margin-top: 0%;

}

img.softAndLangs{

/*width: 10%;*/

}

.sL{
width: 11%;
margin-top: 0%;
margin-left: 5%;
font-size: 15px;
}

.sList{

margin-top: -5%;


}

form{
	width: 190%;
margin-left: 0%;

}

form label {

font-size: 15px;

}


}