<h2 class="titleProject"> SOBRE MI </h2>   
<br>
<br>
<article class="about">
 
 <br><br><code><strong>
 
    <br>
    <h3 class="titleAbout Addon1">Perfil Personal</h3><br>

    
<p>
Developer Full Stack e  Ingeniero de Petróleos. Resuelvo problemas informáticos desde los 8 años utilizando el ingenio y las tecnologías.

Actualmente me encuentro experimentado con todas las etapas del ciclo de desarrollo para proyectos Web Apps dinámicos, buscando adquirir un conocimiento profundo de las utilidades tanto del backend como del frontend.  
<br>
<br>

Antecedentes en gestión y liderazgo.

Poseo habilidades analíticas y  técnicas, fácil adaptabilidad, fluido manejo de la informática, muy buenas relaciones interpersonales y pasión por el control y la mejora de procesos en pos de optimizar los costos y aumentar los niveles productivos. <br><br>

4 años de experiencia en empresas internacionales de Oil & Gas especializado en gestión operativa.</p>
</strong></code></article>
<br>
<br>
<br>

<h3 class="titleAbout">Lenguajes y softwares</h3>


    
   
<br>
<br>
<br>

<code>

            <ul class="sList" >
            
            <li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641913614/java_1_mqrh75.png">
            <p>Java</p>
            </li>

            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641914615/opp_qnnoe8.png">    

            <p> POO </p>
            </li> 
            <li class="sL"> 
                <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641862182/icoJs_j5korz.png">
                <p> Javascript </p>
                 </li> 
            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641863318/nodeJs_ukksbl.png">
            <p> NodeJs </p>
            </li>
            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641914895/express_q3bljb.png">
            <p> Express.js </p>
            </li>
            <li li class="sL"> 
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641915346/postmant_n3gsnv.png">
            <p> APIs, Postman </p>
            </li>
        </ul>
    </code>

<code>

            <ul class="sList" >
            
            <li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641916637/typescript_kvspcl.png">
            <p>Typescript</p>
            </li>

            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641918118/angular_bmiwrq.png">    

            <p> Angular </p>
            </li> 
            <li class="sL"> 
                <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641918705/html_zcrbug.png">
                <p> HTML  </p>
                 </li> 
            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641919052/css_salijy.png">
            <p> CSS  </p>
            </li>
            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641919209/bootstrap_hr9xks.png">
            <p> Bootsrap </p>
            </li>
            <li li class="sL"> 
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641918749/jquery_cmrdxt.png">
            <p> Jquery </p>
            </li>
        </ul>
    </code>

<code>

            <ul class="sList">
            
            <li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641921133/mysql1_v4sitq.png">
            <p>mySQL</p>
            </li>

            <li li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641921133/mongodb_hu1sji.png">    

            <p> NoSQL<br> 
             MongoDB <br>
             AWS </p>
            </li> 
            
            <li class="sL">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641921882/git1_mr3no5.png">
            <p>Git</p>
            </li>

            <li li class="sL github">
            <img class="softAndLangs" src="https://res.cloudinary.com/dzyvb836r/image/upload/v1641921882/github2_qqwf9k.png">    

            <p> GitHub</p>
            </li> 

        </ul>
    </code>


<ul    class="listasAbout">
    <code>
     <li>  Office 365: Outlook, Excel, Teams, Powerpoint, Word. </li> 
     <li>Cloud: IOS Icloud, Google Drive </li>
     <li>Otros: Fireworks Macromedia, Sony Vegas, Mr Comanda, PIX4D, Drone Deploy Sharepoint, Redes informáticas </li>
     <li> Zoom/Google Meet </li>
    </code>
</ul>
    
    <br>

<h3  class="titleAbout">Top 3 Habilidades basadas en experiencia:</h3>
<ul   class="listasAbout">
<code>
 <li>Analista de Indicadores clave de desempeño y tableros de comando. - <a routerLink='/proyecto/61a631e98cc0fc709a1f6c0c' routerLinkActive='actived' class="btn btn-success">Go!</a></li> 
<li>Analista gráfico y técnico de datos - <a routerLink='/proyecto/61a4fc3ffd3842caf3447ae3' class="btn btn-success">Go!</a></li>
<li>Escritor de procedimientos operativos de alto lenguaje técnico. - <a href="https://syr.us/12W" class="btn btn-success">Go!</a></li>
</code>
</ul>

<h3  class="titleAbout">Experiencia Laboral</h3>


<ul class="listasAbout">

<code>

    <li>Mar 2022 / HOY -        Avature - Mza, Arg.-  <b class="highlights"> Integrations Service Associate </b></li>
    <li>Jun 2019 / Oct 2021 -        Pecom Servicios Energía - Mza, Arg.-  <b class="highlights">Supervisor Gral de Operaciones </b></li>
<li>Ago 2017/ Nov 2018  -    YPF S.A. - Mendoza Norte, Arg. <b class="highlights">Ingeniero de Calidad - Pasantía.</b></li>
<li>Jun 2015/ Jul 2017 - La Lucia Restaurant Grill and Bar, Mza, ARG. <b class="highlights">Encargado/ Sub Gerente.</b></li>
<li>Winter Season 14/15  - Freshmarket & Park City Mountain Resort , Utah, EEUU. <b class="highlights">Gastronomic worker.</b></li>

<li>Mar 2014/ Dic 2014 - Facultad de Ingeniería, UNCuyo, Mza, ARG. <b class="highlights">Ayudante de Cátedra-  </b>                           Reservorios y Producción.      </li>                 
<li>Ago 2013/Feb 2014 -  <b class="highlights">Profesor Particular </b>, Clases Personales. Ingreso a Ingeniería, UNCuyo.                                                                                                                                                                                                  
                                       Física, Química, Matemáticas, Mecánica de los Fluidos e Informática. </li>
<li>Feb 2013/Nov 2014 -  La Lucia Restaurant/ Buffet Grill and Bar, Mza, ARG.<b class="highlights"> Cajero/ Encargado.</b></li>
</code>
 </ul>
<br>
<h3  class="titleAbout">Formacion academica</h3>

<ul  class="listasAbout">
    <code>
    
<li>2021/ Hoy      <b  class="highlights">   Programador Full Stack </b>- Egg Tech Cooperation  - Mendoza, ARG</li>
<li>2008/2017   <b  class="highlights">Ingeniero de Petróleos</b>- Facultad de Ingeniería, UNCuyo, Mendoza, ARG.</li>
<li>2005/2007        Escuela de Comercio Martín Zapata – UNCuyo, Mendoza, ARG. 
    Modalidad:    
                               Producción de bienes y servicios orientados a la informática<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b  class="highlights">Diseño web: DreamWeaver.</b> <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b  class="highlights"> Programación. Visual Basic.</b><br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b  class="highlights">Edición Audiovisual. Flash. Macromedia Firework.</b></li>
    <li>2002/2004  -         Colegio secundario D.A.D; UNCuyo, Mendoza, ARG.</li>
<li>1996/2001     -   Colegio Primario, Escuela N°: 1-035, Dr. Manuel Quintana, Mendoza, ARG.</li>
</code>
</ul>
<br>

<h3 class="titleAbout">Cursos</h3> 
<ul  class="listasAbout">
    <code>
    <li >Sep a Dic2021 <b  class="highlights"> Master en Frontend (JavaScript, TypeScript, Angular, NodeJs).- Udemy.</b></li>
<li>Oct 2021   <b  class="highlights"> Gestión de base de datos. MySQL.- Udemy  </b></li>
</code>
</ul>
<br>



<h3  class="titleAbout">Idiomas</h3>
<br>

    <code>

<ul   class="listasAbout">
    <b class="highlights">English:</b>
 <li>Avanzado. 
    </li>
    <li>Temporada 2014-/15 Work and travel. Experiencia de intercambio. Park City, Utah, EEUU.</li>
<li>6° año aprobado. Instituto Amicana, Mendoza, ARG.</li>

</ul>
</code>
