<header >
<br>
<br>

<ul>
<li><a class="btn btn-secondary" routerLink='/sobre-mi' routerLinkActive='actived'>&nbsp;About Me</a></li>
<li><a class="btn btn-secondary" routerLink='/proyectos/' routerLinkActive='actived'>&nbsp;Projects&nbsp;</a></li>
<li class="logo" routerLinkActive='actived'><a href="#"> MPY</a></li>  <!--//creamos la clase logo y un href vacio-->
<li><a class="btn btn-secondary crearProyecto" routerLink='/crear-proyecto'routerLinkActive='actived'>+ Project&nbsp;</a></li>
<li><a class="btn btn-secondary" routerLink='/contacto'routerLinkActive='actived'>&nbsp;Contact&nbsp;&nbsp;</a> </li>

</ul>
 
</header>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--HACEMOS UN SECTION CON ID CONTENT DONDE IRA TODO EL CONTENIDO DE LA WEB -->
<section id="content">
<router-outlet></router-outlet>

</section>
<footer class="pie">

 Angular Ts, Node Js, Mongo Atlas &copy; 
 
</footer>
